<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"> 네이게이션 바 </div>

<section>

    <form action="/member" method="post">
        <div>
        <input type="text" id="id" name="id" placeholder="id를 입력하세요">
        </div>
        <div>
            <input type="text" id="pw" name="pw" placeholder="pw를 입력하세요">
        </div>
        <div>
            <input type="text" id="name" name="name" placeholder="name를 입력하세요">
        </div>
        <div>
            <button type="submit"> 회원 등록 </button>
        </div>
    </form>


</section>

<div th:replace="~{fragments/footer :: footer}"> 풋터</div>
</body>
</html>